/*
 * Post type and Category archive rules
 */
.wphelpkit-archive {
    display: grid;
    grid-gap: 0 2.5em;
    padding-left: 0;
    padding-right: 0;
}

.wphelpkit-archive.column-2 {
    grid-template-columns: 1fr 1fr;
}

.wphelpkit-archive.column-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and ( max-width: 767px ) {
    .wphelpkit-archive.column-2,
    .wphelpkit-archive.column-3 {
        grid-template-columns: 1fr;
    }
}

.wphelpkit-template .taxonomy-description {
    margin: 0 0 2em 0;
    padding: 0;
}

.wphelpkit-template .taxonomy-description p {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.wphelpkit-archive li > ul,
.wphelpkit-category li > ul,
.wphelpkit-tag li > ul,
.wphelpkit-subcategories > ul {
    margin-left: 0;
}

.wphelpkit-category,
.wphelpkit-tag {
    margin-bottom: 4em;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.wphelpkit-archive li .wphelpkiticons,
.wphelpkit-subcategories li .wphelpkiticons,
.wphelpkit-articles li .wphelpkiticons,
.wphelpkit-related-articles li .wphelpkiticons,
.wphelpkit-tags-links .wphelpkiticons-tag {
    margin-right: 0.5em;
}

.wphelpkit-archive li.child-term:last-of-type {
    margin-bottom: 1em;
}

.wphelpkit-archive ul,
.wphelpkit-category ul,
.wphelpkit-tag ul,
.wphelpkit-subcategories ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.wphelpkit-subcategories ul {
    margin-bottom: 1em;
}

.wphelpkit-breadcrumbs {
    font-size: smaller;
    margin-bottom: 2em;
}

.wphelpkit-breadcrumbs .breadcrumb-separator {
    margin-left: 5px;
    margin-right: 5px;
}

/* ensure long, unbreakable article titles avoid overflow */
.wphelpkit-article-title {
    word-break: break-word;
}

.wphelpkit-subcategory .wphelpkiticons-folder {
    vertical-align: baseline;
}

.tax-helpkit-category.wphelpkit-template .page-title,
.tax-helpkit-tag.wphelpkit-template .page-title {
    margin: 0;
    padding: 0;
}

.wphelpkit-article-count {
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    margin-left: 1em;
}

/*
 * Search form rules
 */
#wphelpkit-search-form {
    position: relative;
}

#wphelpkit-search {
    margin: 0;
    padding-right: 60px;
    width: 100%;
}

#wphelpkit-search-form button[type="submit"] {
    bottom: 3px;
    position: absolute;
    right: 3px;
    top: 3px;
}

#wphelpkit-search-form button[type="submit"] .wphelpkiticons {
    position: relative;
    top: -1px;
}

/*
 * Search results rules
 */
.wphelpkit-search-results {
    list-style: none;
}

.wphelpkit-search-results .wphelpkit-categories,
.awesomplete ul[role="listbox"] .wphelpkit-categories {
    color: grey;
    font-size: smaller;
}

.wphelpkit-search-results .wphelpkit-categories span,
.awesomplete ul[role="listbox"] .wphelpkit-categories span {
    color: black;
}

.wphelpkit-search-results {
    margin-left: 0;
    padding-left: 0;
}

.wphelpkit-search-results li.wphelpkit-article a {
    margin-right: 15px;
}

/*
 * Single article .entry-meta styles
 */
.wphelpkit-template .entry-header > .entry-meta {
    display: flex;
    margin-bottom: 2em;
}

@media only screen and ( max-width: 767px ) {
    .wphelpkit-template .entry-header > .entry-meta {
        flex-direction: column;
    }
}

.wphelpkit-template .entry-header > .entry-meta .wphelpkit-article-author {
    color: #000;
    margin-right: 0.8em;
}

.wphelpkit-template .entry-header > .entry-meta .wphelpkit-article-author > * {
    display: inline;
    vertical-align: middle;
}

.wphelpkit-template .entry-header > .entry-meta > .wphelpkit-article-author * {
    justify-self: start;
}

.wphelpkit-template .entry-header > .entry-meta .wphelpkit-article-author img.avatar {
    border-radius: 2em;
    margin-right: 0.8em;
}

article.wphelpkit-article .entry-header > .entry-title {
    margin-bottom: 1em;
}

.wphelpkit-template .entry-header > .entry-meta * {
    align-self: center;
}

.wphelpkit-template .entry-header > .entry-meta .wphelpkit-article-datetime {
    color: #767676;
}

@media only screen and ( max-width: 767px ) {
    .wphelpkit-template .entry-header > .entry-meta .wphelpkit-article-author,
    .wphelpkit-template .entry-header > .entry-meta .wphelpkit-article-datetime {
        text-align: left;
        width: 100%;
    }

    .wphelpkit-template .entry-header > .entry-meta .wphelpkit-article-author,
    .wphelpkit-template .entry-header > .entry-meta .wphelpkit-article-datetime {
        margin-bottom: 1em;
    }

    .wphelpkit-template .entry-header > .entry-meta * {
        align-self: auto;
    }

    .wphelpkit-template .entry-header > .entry-meta .wphelpkit-article-author img.avatar {
        margin-right: 1em;
    }
}

/*
 * Single article colophon styles
 */
.wphelpkit-colophon {
    border-top: 1px solid #eee;
    clear: both;
    display: grid;
    grid-template-columns: repeat( 2, 50% );
    margin-top: 2em;
    padding-top: 2em;
}

@media only screen and ( max-width: 767px ) {
    .wphelpkit-colophon {
        grid-template-columns: 1fr;
    }
}

.wphelpkit-colophon h3 {
    margin-bottom: 1em;
}

body.wphelpkit-busy,
body.wphelpkit-busy * {
    cursor: wait !important;
}

.wphelpkit-related-articles ul {
    list-style: none;
}

.wphelpkit-articles,
.wphelpkit-articles > li,
.wphelpkit-subcategories,
.wphelpkit-subcategories > li,
.wphelpkit-related-articles > ul,
.wphelpkit-related-articles > ul > li {
    margin-left: 0;
    padding-left: 0;
}

.wphelpkit-category > h2 {
    margin-bottom: 1em;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.wphelpkit-category .see-all {
    font-size: smaller;
}

.wphelpkit-article .entry-footer {
    display: table;
    width: 100%;
}

.wphelpkit-tags-links {
    margin-right: 1em;
}

.wphelpkit-article .entry-footer .wphelpkit-tag-links,
.wphelpkit-article .entry-footer .edit-link {
    display: table-cell;
}

/* category archive revamp */

.wphelpkit-prelude {
    clear: both;
    margin-bottom: 2em;
    padding-left: 0;
    padding-right: 0;
}

.tax-helpkit-category.wphelpkit-template .page-title,
.tax-helpkit-tag.wphelpkit-template .page-title {
    margin: 0;
    margin-bottom: 0.3em;
    padding: 0;
}

.wphelpkit-subcategories {
    margin: 0 0 2em 0;
    padding: 0;
}

.wphelpkit-subcategory {
    line-height: 1.5;
    padding-bottom: 0.25em;
    padding-top: 0.5em;
}

.wphelpkit-articles {
    margin-bottom: 0;
    margin: 0 0 1em 0;
    padding: 0;
}

.wphelpkit-articles .wphelpkit-article,
.wphelpkit-search-results .wphelpkit-article,
.awesomplete .wphelpkit-article {
    line-height: 1.5;
    margin-bottom: 0.5em;
}

.wphelpkit-articles .wphelpkit-article,
.wphelpkit-search-results .wphelpkit-article {
    margin: 0;
}

.wphelpkit-articles .wphelpkit-article,
.wphelpkit-search-results .wphelpkit-article {
    padding: 0;
}

p.wphelpkit-article-excerpt,
p.wphelpkit-subcategory-description,
.wphelpkit-category-description {
    font-size: smaller;
    margin-bottom: 1em;
    margin-top: 1em;
}


